/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-image: url("https://i.pinimg.com/originals/83/2d/99/832d991b773e301ebcd6cb0927cd89d4.jpg");
}

h1, h2 {
  font-family: 'Shojumaru', cursive;
  color:white;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
    color:white;
}


/* section styles */

section article {
  width: 33%;
  float: left;
    color:white;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}