/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif/* Ubuntu, sans-serif */;
    color: black/* #xxxxxx */;
    background-color: lightyellow;
}

h1 {
    font-size: 2rem;/* x.xrem  (rem is a unit of measure) */;
    color: #c5af7d/* #xxxxxx */;
}

h2 {
    font-size: 1.5rem;/* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 720px;/* xxxpx (px = pixel is a unit of measure)  */;
    
}

header, footer, footer a {
    text-align: center;
    background-color: #002255 /* */;
    color: #c5af7d;
}

header img {
    width: 175px;/*  */;
    height: auto;
    float: right;
}

footer {
    font-size: smaller;/* smaller */;
}

.style1 {
    
    margin: 0 auto; 
    border: 1px solid #bbb; 
    padding: 5px; 
    background-color: #eee; 
    line-height: 1.5em;
}
