table {
    font-family: Ubuntu, sans-serif;
    border-collapse: collapse;
    width: 82%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    table-layout: fixed;   
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
}

tr:nth-child(even) {
    background-color: #e7ffed;
}
    
tr:nth-child(odd) {
    background-color: #e7f0ed; 
    }
    
th {
        
    background-color: #628ca6;
    color: white;
    font-size: 15px;
        
    }
    
#money {
    color:white;
    background-color: #628ca6;
        
    }
    
#black {
    
    font-style: italic;    
    }

table thead th {
    background-color: #7fb9c2;
    color:black;
    font-size: 30px;
    }
    
table tfoot th {
    background-color: #7fb9c2;
    color:black; 
    font-size: 10px;
        
    }